.offscreen-nav-links {
    background-color: var(--ctp-macchiato-surface0);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    font-size: 2rem;
}

.offscreen-nav-links ul {
    list-style-type: none;
}

.offscreen-nav-links.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 50px;
    /* margin-left: auto; */
    margin: 20px 20px 20px auto;
    /* move the menu to the right side */
    position: relative;
    display: none;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--ctp-macchiato-text);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:first-child {
    top: 25%;
}

.ham-menu span:last-child {
    top: 75%;
}


.ham-menu.active span:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:last-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 980px) {
  .ham-menu {
        display: block;
  }
}