@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1#hero-typed {
    font-size: 3em !important;
}

p#hero-typed {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}
