@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kalam:wght@300;400;700&family=McLaren&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Emoji:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --sans-serif: "Segoe UI", K2D, "Noto Sans", system-ui, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif !important;
    --system: system-ui,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --monospace: 'Consolas', 'Lucida Console', monospace;
    --background-colour: #2b2b2b !important;
    --font-colour: #eeeeee !important;
    --link-colour: #6ca2f3;
    --article-background: darken(var(--background-colour))
}

::selection {
    background-color: #199bff55;
}
.bold {
    font-weight: bold;
}
body {
    background: var(--background-colour);
    font-family: var(--sans-serif) !important;
    line-height: 1.5;
    color: var(--font-colour) !important;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    transition: 0.4s;
}

article {
    margin-top: 65px !important;
}

article {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    /* z-index: 10001; */
    position: relative;
}

main {
    text-align: center;
    display: flex;
}

.text-center{
    text-align: center !important;
}
#intro-header{
    font-size: 50px !important;
    display: inline;
    font-weight: 600;
}

#ih-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#particles-js {
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 50%;
}

article {
    background-color: var(--article-background);
    width: fit-content !important;
    text-align: center !important;
    border-radius: 10px;
    z-index: 1500;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
}

#ih-container .typed-cursor, .typed-cursor {
    font-size: 50px;
}
#project-languages-container {
    display: flex;
    flex-direction: row;
}
#project-languages-container * {
    padding: 20px;
}
button {
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    font-family: K2D;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0px 10px #0b5ed7;
}
button:hover {
    background-color: #0d6efd;
    color: #D5D5D5;
    transition: all 0.4s;
}
button:active {
    transition: all 0.4s;
    transform: translateY(5px);
    box-shadow: 0px 5px #0b5ed7;
}

.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.vertical-center-fix{
    height: calc(50vh - 100px) !important;
}

textarea {
    padding: 5px !important
}

img {
    border-radius: 10px;
    border: 3px solid black;
}


#top-bar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: fit-content;
    position: fixed;
    width: 100%;
    z-index: 99992;
    column-count: 1;
    row-gap: 10px !important;
    background-color: black !important;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    align-items: center;;
}
#top-bar *{
    height: min-content !important;
    transition: 0.3s color;
    font-size: 25px;
    margin: 0px;
}

#top-bar #top-bar-links_container {
    margin: 0px 40px 0px 0px;
}

#top-bar #top-bar-links_container a{
    position: relative;
}

#top-bar-links_container a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#top-bar-links_container a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#topbar-selected {
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% {color: red};
    20% {color: orange};
    40% {color: yellow};
    60% {color: green};
    80% {color: blue};
    100% {color: violet};
}

#menu a {
    position: relative;
}

#menu a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#menu a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

#top-bar a {
    margin: 0px 5px;
}

#top-bar a {
    color: white;
    text-decoration: none;
}

#top-bar i {
    color: rgb(80, 80, 80) !important;
}

#top-bar .github-square:hover {
    color: #000000;
}
#top-bar .youtube-square:hover {
    color: red;
}

#top-bar-links_container li {
    list-style-type: none;
    display: inline;
    font-size: 25px;
}

#top-bar-links_container {
    height: min-content;
}

.fa, .fa-brands{
    font-size: 60px;
}

iframe {
    margin: auto calc(50vw - 600px) !important;
    left: 50%;
}

p {
    font-size: 25px!important;
}

h1 {
    font-size: 50px !important;
    font-weight: 600;
}

h2 {
    font-size: 40px !important;
}

#hamburgerBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 50px !important;
    cursor: pointer;
    transition: transform 450ms cubic-bezier(0.22, 0.61, 0.36, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999999 !important;
    margin-right: 10px;
    display: none;
}
#hamburgerBTN *{
    width: 30px;
}
#hamburgerBTN-burger{
    width: 30px !important;
    height: 6px !important;
    background-color: white;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    margin: 10px;
}
#hamburgerBTN-burger::before,
#hamburgerBTN-burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 6px !important;
    background-color: white;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    margin: 0 -15px;
}

#hamburgerBTN-burger::before{
    transform: translateY(-13px);
}
#hamburgerBTN-burger::after{
    transform: translateY(13px);
}


/* Menu Button Animation */

#hamburgerBTN.open #hamburgerBTN-burger {
    background-color: transparent;
}

#hamburgerBTN.open #hamburgerBTN-burger::before{
    transform: rotate(45deg)/* translate(35px, -35px);
    /* transform: translate(0px, 0px); */
}

#hamburgerBTN.open #hamburgerBTN-burger::after{
    transform: rotate(-45deg)/* translate(35px, 35px)*/;
    /* transform: translate(0px, 0px); */
}


/* End Menu Button Animation */


li {
    list-style-type: disc;
    font-size: larger;
    text-align: left;
}

ul#menu ul li {
    list-style: none;
    text-align: center;
}

main *{
    font-size: 25px;
}



main a {
    color: var(--link-colour);
    text-decoration: none !important;
    box-shadow: inset 0 0 0 0 var(--link-colour);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#menu a {
    text-decoration: none;
}

main a:hover {
    box-shadow: inset 150px 0 0 0 var(--link-colour);
    color: white;
}

.curpoint {
    cursor: pointer;
}

h1#logo {
    font-size: 10vh !important;
    font-weight: 900;
    color: red;
    animation: color 10s infinite;
    font-family: Kalam;
}

@keyframes color {
    14% {
        color: red;
    }
    28% {
        color: orange;
    }
    42% {
        color: rgb(240, 204, 0);
    }
    56% {
        color: green;
    }
    70% {
        color: blue;
    }
    84% {
        color: rgb(184, 99, 184)
    }
    98% {
        color: rgb(220, 50, 92);
    }
}

.contactlink img {
    width: 100px;
    height: 100px !important;
    padding: 7px;
    border: none;
    background-color: #b8b8b8;
    border-radius: 50%;
    transition: background-color 0.6s;
}

.contactlink img:hover {
    background-color: #8a8a8a !important;
}

footer {
    background-color: #ebebeb;
    bottom: 0 !important;
    position: relative;
    z-index: 11;
}


/* <scrollbar> */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #A5A5A5 #DFE9EB;
}


/* Chrome, Edge and Safari */

*::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #D5D5D5;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 19px;
    background-color: #A5A5A5;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6C6C6C;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #6C6C6C;
}


/* </scrollbar> */


/* <dropdowns> */

.dropbtn {
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    transition: all 0.3s;
}

.dropdown-content a:hover {
    background-color: #494949;
    border-radius: 20px;
    transition: all 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* </dropdowns> */


/* <hamburger> */




#menu {
    display: flex;
    list-style-type: none;
    position: fixed;
    top: 0;
    /* transform: translateX(calc(-100% - 2.5vw)); */
    transform: none;
    background: rgba(0, 0, 0, 0.85);
    color: rgb(255, 255, 255);
    padding: 0;
    margin-right: 10px !important;
    transition: transform 450ms cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: 99991;
    width: 100%;
    height: 100% !important;
    align-items: center;
    justify-content: center;
}

#menu a {
    display: block;
    padding: 1rem;
    color: #ffffff !important;
    font-size: 2rem;
}
#menu li {
    list-style-type: none;
}
#toggle {
    z-index: 10;
    right: 0;
    opacity: 1;
    background: transparent;
    height: 80px;
    width: 118px;
}

form .btn {
    background-color: #0d6efd !important;
}

form .btn:hover {
    background-color: #0b5ed7 !important;
}

form .form-label {
    font-size: 25px;
}

form .form-control {
    font-size: 20px;
}

.projectButton {
    background-color: #81b3ff;
    border-radius: 10px;
    height: 50vh;
    padding: 30px;
    width: 30%;
    border: 10px solid #000000;
    font-size: 60px;
}


/* </hamburger> */

@media only screen and (max-width:480px) {
    #menu {
        width: 100%;
    }
    iframe {
        /* margin: auto calc(50vw - 20px) !important; */
        margin: auto 25vw !important;
    }
}

@media (max-width: 645px) {
    #top-bar-links_container {
        display: none;
    }

    #hamburgerBTN{
        display: flex;
    }

    #particles-js {
        display: none;
    }
    .typed-cursor {
        display: none;
    }
    #short-intro {
        display: block;
    }
    h1 {
        font-size: 1% !important;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    p#intro-header {
        font-size: 120% !important;
    }
    p {
        font-size: 80% !important;
        padding: 0px 10px 0px 10px;
    }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #2b2b2b !important;
        --font-colour: #eeeeee;
        --link-colour: #6ca2f3;
    }
}

/* Light Mode */

@media (prefers-color-scheme: light) {
    :root {
        --background-colour: #ececec !important;
        --font-colour: #111111 !important;
        --link-colour: #0948a7;
    }
}