@import url(../../node_modules/@picocss/pico/css/pico.min.css);
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kalam:wght@300;400;700&family=McLaren&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Emoji:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* body {
    background-color: #202020;
} */

#tsparticles {
    background: #202020 !important;
    height: 100vh !important;
    height: 100% !important;
    text-align: center;
    z-index: -1;
}

/* main {
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 10px !important;
} */

nav {
    padding: 0px 20px;
}

#mono * {
    font-family: monospace !important;
}